.container {
    animation: confirmCont 0.3s ease-out;
    background-color: rgb(250, 250, 250);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    max-height: 700px;
    max-width: 370px;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.266) 5px 7px 13px -3px, var(--main-color) -2px -3px 0 inset;
}

@keyframes confirmCont {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.label {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid rgb(202, 202, 202); */
    cursor: pointer;
    padding: 8px 14px;
    margin: 2px 0;
    border-radius: 10px;
}

.label:hover {
    background-color: var(--sub-color);
    /* transform: scale(1.1); */
}

.title {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    width: 300px;
    text-align: center;
}

.label span {
    font-size: 25px;
}

.checkboxWrapper {
    position: relative;
    margin-left: auto;
}

.checkboxWrapper>svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
}

.checkboxWrapper * {
    box-sizing: border-box;
}

.checkboxWrapper input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}

.checkboxWrapper input[type="checkbox"]:focus {
    outline: 0;
}

.checkboxWrapper .cbx {
    width: 24px;
    height: 24px;
    top: calc(100px - 12px);
    left: calc(100px - 12px);
}

.checkboxWrapper .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
}

.checkboxWrapper .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}

.checkboxWrapper .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
}

.checkboxWrapper .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
}

.checkboxWrapper .cbx input:checked+label {
    animation: splash-12 0.6s ease forwards;
}

.checkboxWrapper .cbx input:checked+label+svg path {
    stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
    40% {
        background: var(--main-color);
        box-shadow: 0 -18px 0 -8px var(--main-color), 16px -8px 0 -8px var(--main-color), 16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color), -16px 8px 0 -8px var(--main-color), -16px -8px 0 -8px var(--main-color);
    }

    100% {
        background: var(--main-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-webkit-keyframes splash-12 {
    40% {
        background: var(--main-color);
        box-shadow: 0 -18px 0 -8px var(--main-color), 16px -8px 0 -8px var(--main-color), 16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color), -16px 8px 0 -8px var(--main-color), -16px -8px 0 -8px var(--main-color);
    }

    100% {
        background: var(--main-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-o-keyframes splash-12 {
    40% {
        background: var(--main-color);
        box-shadow: 0 -18px 0 -8px var(--main-color), 16px -8px 0 -8px var(--main-color), 16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color), -16px 8px 0 -8px var(--main-color), -16px -8px 0 -8px var(--main-color);
    }

    100% {
        background: var(--main-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@keyframes splash-12 {
    40% {
        background: var(--main-color);
        box-shadow: 0 -18px 0 -8px var(--main-color), 16px -8px 0 -8px var(--main-color), 16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color), -16px 8px 0 -8px var(--main-color), -16px -8px 0 -8px var(--main-color);
    }

    100% {
        background: var(--main-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}