.menu{
    animation: confirmCont 0.2s ease;
    position: fixed;
    width: max-content;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 200;
    box-shadow: rgba(45, 35, 66, 0.2) 0px 2px 4px, rgba(45, 35, 66, 0.266) 5px 7px 13px -3px, var(--main-color) -2px -3px 0 inset;
    cursor: auto;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    color: var(--text-color);
}

.menu li:hover{
    color: var(--main-color);
}

@keyframes confirmCont {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}