/* .quill{
    height: 150px;
} */

.ql-toolbar {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  /* height: 40px; */
}

.editComp .ql-container {
  border-radius: 0 0 5px 5px;
  height: 120px;
}

button .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: var(--text-color) !important;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: var(--main-color) !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: var(--main-color) !important;
}

button .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: var(--text-color) !important;
  stroke: none;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: var(--main-color) !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: var(--main-color) !important;
  stroke: none;
}

.readOnlyComp .ql-tooltip {
  display: none;
}

.ql-editor.ql-blank:before {
  color: var(--text-color);
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before{
  color: var(--main-color) !important;
}

.ql-picker-options{
  background-color: var(--bg-color) !important;
}

.ql-snow .ql-picker-options .ql-picker-item:hover{
  color: var(--main-color) !important;
}