.container {
    animation: confirmCont 0.3s ease-out;
    background-color: rgb(250, 250, 250);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.266) 5px 7px 13px -3px, var(--main-color) -2px -3px 0 inset;
}

@keyframes confirmCont {
    0% {
        transform: scale(0.7); 
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1; 
    }
}

.container h3 {
    width: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    overflow-y: auto;
    max-height: 300px;
    direction: rtl;
}

.yes {
    background-color: rgba(233, 64, 64, 0.619);
}

.cancel {
    background-color: rgba(96, 222, 113, 0.486);
}

.btn {
    margin: 15px 15px 0 15px;
    align-items: center;
    appearance: none;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, var(--sub-color) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow: var(--sub-color) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--sub-color) 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, var(--sub-color) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: var(--sub-color) 0 3px 7px inset;
    transform: translateY(2px);
}