.label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.label span {
    font-size: 22px;
}

.label p {
    font-size: smaller;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
}

.label:hover p {
    text-decoration: underline;
}