.labelText {
    animation: addLabel 0.5s ease-in-out;
    position: relative;
    height: 40px;
    padding-left: 12px;
    padding-right: 7px;
    border-radius: 8px;
    border-top: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    border-left: 3px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: min-content;
    white-space: nowrap;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.444); */
}

.labelText::after {
    content: "";
    position: absolute;
    border-top: 3px solid var(--color);
    border-right: 3px solid var(--color);
    border-radius: 8px;
    height: 29px;
    right: -9px;
    aspect-ratio: 1/1;
    transform: rotate(45deg);
    z-index: -10;
}

.labelText button {
    color: var(--text-color);
}

@keyframes addLabel {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.deleted {
    animation: removeLabel 0.5s ease-in-out;
}

@keyframes removeLabel {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
    }
}

.labelText button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}