.container {
    width: 100%;
    /* height: 100vh; */
    grid-column: span 3;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-left: 2px solid var(--sub-color);
    border-radius: 15px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section h1 {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--sub-color);
}

.imageAndEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profilP {
    height: 130px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.innerSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.profileP {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border: 5px solid transparent;
    outline: 3px solid var(--main-color);
}

.profileP img {
    height: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.profileP:hover img {
    filter: brightness(0.6);
    transition: 0.3s;
}

.profileP svg {
    position: absolute;
    width: 40%;
    opacity: 0;
    transition: 0.3s;
}

.profileP:hover svg {
    opacity: 1;
    transition: 0.3s;
}

.profileP input {
    display: none;
}

.inputs {
    display: flex;
    flex-direction: column;

}

.name {
    margin-bottom: 20px;
}

.form h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.form h5 {
    padding-left: 3px;
}

.colorBtn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.group {
    position: relative;
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    width: 270px;
    margin: 5px 0;
}


.input {
    font-size: 16px;
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 48px;
    border: 2px solid var(--sub-color);
    border-radius: 10px;
    outline: none;
    color: var(--text-color);
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.085);
}

.emailInput {
    padding-right: 112px;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: var(--main-color);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
    color: black;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    /* height: 1rem; */
    font-size: 18px;
    font-weight: 400;
    stroke: #94a3b8;
    color: #94a3b8;
}


.animatedButton {
    margin: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 66px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: var(--light-main-color);
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px var(--sub-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton .arr1 {
    right: 46px;
}

.animatedButton .arr2 {
    left: -25%;
}

.animatedButton .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    /* border-radius: 12px; */
}

.animatedButton:hover .arr1 {
    right: -25%;
}

.animatedButton:hover .arr2 {
    left: 46px;
}

.animatedButton:hover .text {
    transform: translateX(12px);
    color: white;
}

.animatedButton:hover svg {
    fill: white;
}

.animatedButton:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--main-color);
}

.animatedButton:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}