.msgBlock {
    width: 100%;
    height: 85px;
    /* border: 1px solid var(--sub-color); */
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.msgBlock:hover {
    background-color: var(--sub-color);
}

.singleImg {
    height: 75%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.multiImg {
    height: 75%;
    aspect-ratio: 1/1;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.multiImg img {
    /* height: 45%; */
    width: 100%;
    padding: 1px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.threeImg  img:nth-child(2){
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.moreImg {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.256);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.moreImg p {
    margin: auto;
    color: rgba(0, 0, 0, 0.653);
    font-size: small;
}

.multiSender{
    display: flex;
}
.members{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
}

.senderAndMsg {
    margin-left: 12px;
    flex-grow: 1;
}

.senderAndMsg h3 {
    font-weight: 550;
    /* font-size: 17px; */
}

.senderAndMsg p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 205px;
    color: gray;
    font-size: small;
}

.timeAndNotf {
    position: relative;
    margin-left: auto;
    width: 100px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    /* display: none; */
    position: absolute;
    white-space: nowrap;
    top: 0px;
    right: 0px;
    font-size: 10px;
    color: gray;
}

.deleteDraft{
    background-color: transparent;
    border-radius: 100%;
    padding: 10px;
    aspect-ratio: 1;
    border: none;
    font-size: 18px;
}

.deleteDraft:hover{
    background-color: rgba(0, 0, 0, 0.089);
    cursor: pointer;
}

#subject{
    max-width: 1090px;
}

.read{
    font-size: 21px;
    color: var(--main-color);
}

/*------ Settings ------*/
.container {
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.container .starRegular {
    position: absolute;
    animation: keyframes-star .5s;
    fill: black;
}

.container .starSolid {
    fill: var(--main-color);
    position: absolute;
    animation: keyframes-star .5s;
    display: none;
}

/* ------ On check event ------ */
.container input:checked~.starRegular {
    display: none;
}

.container input:checked~.starSolid {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animations ------ */
@keyframes keyframes-star {
    0% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }

    50% {
        transform: rotate(10deg) scale(1.3);
    }
}