.container {
    animation: confirmCont 0.3s ease-out;
    background-color: var(--bg-color);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 10px; */
    max-height: 700px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.266) 5px 7px 13px -3px, var(--main-color) -2px -3px 0 inset;
}

@keyframes confirmCont {
    0% {
        transform: scale(0.7); 
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1; 
    }
}

.title{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    /* text-decoration: underline var(--main-color); */
}

.innerContainer{
    padding: 0 10px;
    overflow-y: auto;
    direction: rtl;
    width: 100%;
}

.member{
    direction: ltr;
    text-align: start;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.details{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.member:last-child {
    border: none;
}

.profilePic{
    height: 90%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.memberName{
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
}

.email{
    color: gray;
    font-size: 14px;
}

.sendMsg {
    height: 60%;
    padding: 9px 11px 9px 8px;
    /* padding: 8px; */
    margin-left: auto;
    background-color: transparent;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 18px;
}

.sendMsg:hover {
    filter: brightness(1.05);
    background-color: var(--sub-color);
    transform: scale(1.1);
    transition: 0.1s;
}
.sendMsg:not(:hover) {
    transform: scale(1);
    transition: 0.1s;
}