.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70%;
}

.topics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: gray;
    padding: 0 19px;
}

#active {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    background-color: var(--sub-color);
    border-radius: 12px;
    padding: 10px;
    box-shadow: none;
    position: relative;
}

#active::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    right: -21px;
    border-radius: 10px;
    background-color: var(--main-color);
}

#inActive {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: none;
}

.profile{
    width: 53%;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid transparent;
    outline: 2px solid var(--main-color);
}

@media (width < 750px) {
    .chatOpen{
        display: none;
    }
}