.layout{
    /* background-color: rgb(167, 167, 167); */
    width: 100%;
    display: grid;
    grid-template-columns: 80px 220px 400px 1fr;
    grid-template-rows: calc(100vh - 30px);
    /* grid-template-rows: calc(100vh - 20px); */
    padding: 15px 0;
}

@media (width < 1100px) {
    .layout{
        grid-template-columns: 80px 220px 1fr;
    }
}

@media (width < 750px) {
    .layout{
        grid-template-columns: 80px 1fr;
    }
    .chatOpen{
        grid-template-columns: 1fr;
    }
}